<div class="profile panel panel-default">
  <div class="panel-body">
    <h2><%= profile.display_name %></h2>
    <h3><%= profile.byline %></h3>
    <p><%= profile.about %></p>
  </div>
  <% if can? :manage, profile %>
    <div class="panel-footer">
      <%= link_to 'Edit Profile', edit_profile_path(profile) %>
      <%= link_to 'Delete Profile', '#' %>
    </div>
  <% end %>
</div>
