<div class="page-header">
  <h1><%= @profile.display_name %></h1>
  <h2><%= @profile.byline %></h2>
</div>
<% if @profile.website %>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">Website</div>
    <div class="well col-md-6"><%= @profile.website %></div>
  </div>
<% end %>
<% if @profile.about %>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">About</div>
    <div class="well col-md-6"><%= @profile.about %></div>
  </div>
<% end %>


<ul class="verified social-media">
  <%= render @profile.social_media_accounts %>
</ul>
